@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --color-black: #17110c;
  --color-grey: #666565;
  --color-white: #fff;
  --color-bg: #f1efe9;
  --color-accent: #6c3127;

  --ff-primary: "Old Standard TT", serif;
  --ff-secondary: "Roboto Condensed", sans-serif;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-secondary);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  letter-spacing: 2px;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
#wrapper {
  padding-inline: 1rem;
}
/*********** Brands *************/

.page-title {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.2rem 2rem;
  display: inline-block;
  font-size: 1rem;
  font-family: var(--ff-secondary);
  position: relative;
  letter-spacing: 2px;
}
.page-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  inset: 50% auto auto 1rem;
  transform: translateY(-50%);
}
.page-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  inset: 50% 1rem auto auto;
  transform: translateY(-50%);
}
.brands {
  font-family: var(--ff-primary);
}
.brand {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-accent);
  transition: color 0.3s ease;
  letter-spacing: 2px;
}
.brand:hover {
  color: var(--color-grey);
}
.divider {
  display: none;
  color: var(--color-accent);
}
.brands_title {
  color: var(--color-grey);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.brands_title:after {
  content: "+";
  display: inline-block;
  transition: transform 0.2s;
  margin-left: 0.5rem;
}
.brands_title.open:after {
  transform: rotateZ(45deg);
}
.brands_container {
  height: 0px;
  overflow: hidden;
  transition: height 0.2;
}
.brands_container.open {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  padding: 0.5rem 1rem 2rem;
}
@media only screen and (min-width: 1000px) {
  .brands {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .divider {
    display: inline-block;
  }
  .brands_container {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
  }
  .brands_title:after {
    display: none;
  }
}

/*********** Brands End *************/
/*********** Product List *************/

/* .product-list > card > img + .card_wrapper > .card_brand + card_title + .card_content > .card_tag > span */

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.card {
  background-color: var(--color-white);
}
.card > img {
  width: 100%;
  aspect-ratio: 1256/812;
  object-fit: cover;
  object-position: center;
}
.card_wrapper {
  padding: 1rem;
}
.card_brand {
  color: var(--color-grey);
  font-weight: bold;
  font-size: 0.9rem;
}
.card_title {
  color: var(--color-grey);
}
.card_title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 0.2rem;
  background-color: var(--color-grey);
}
.card_content {
  border: 1px solid rgb(241, 241, 241);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card_tag {
  font-style: italic;
  color: var(--color-grey);
  margin: 0;
}
.card_tag::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(241, 241, 241);
  margin-top: 0.2rem;
}
.card_tag > span {
  color: var(--color-black);
  font-family: var(--ff-primary);
}
.card_btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-accent);
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: 400;
  align-self: center;
}
.card_colours {
  display: inline-flex;
}

.card_colour-box {
  width: 16px;
  aspect-ratio: 1;
  border: 1px solid rgb(241, 241, 241);
}
/*********** Product List *************/
