@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --color-black: #17110c;
  --color-grey: #666565;
  --color-white: #fff;
  --color-bg: #f1efe9;
  --color-accent: #6c3127;

  --ff-primary: "Old Standard TT", serif;
  --ff-secondary: "Roboto Condensed", sans-serif;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-secondary);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
}

/*********** Brands *************/
.page-title {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.2rem 2rem;
  display: inline-block;
  font-size: 1rem;
  font-family: var(--ff-secondary);
  position: relative;
  letter-spacing: 2px;
}
.page-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  inset: 50% auto auto 1rem;
  transform: translateY(-50%);
}
.page-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  inset: 50% 1rem auto auto;
  transform: translateY(-50%);
}

/*********** Brands End *************/
